# render.yaml
services:
  - type: web
    name: teeth-detection-api
    dockerfilePath: ./Dockerfile
    plan: free
    region: frankfurt
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
